# Txt-Files for Uncivil Annotations from Comment-csv
Author: ankekat1000 
Date: March 2019

In [2]:
import pandas as pd #E.g. using the Pandas Library.

In [3]:
f = open("ibh_testdaten.csv", "rb")

In [4]:
df= pd.read_csv(f,sep=";",
                encoding="utf-8",
                #names=["comment_id", "comment_message", "impoliteness"],
              #  skiprows=1
               )

In [5]:
print("length df: "+str(len(df)))
df.head()

length df: 20518

,Unnamed: 0,Comment_ID,message,impoliteness
0,0,10155742247640680,Diese Merkel nimmt europaweit sowieso keiner m...,1
1,1,10155315808149652,"Kann mich nicht entscheiden, soll ich mir eine...",0
2,2,10156183865384869,Hier sieht man: Auch Moslems sind Opfer des Is...,0
3,3,10155827645654869,"""Hass f√ºr niemanden"" Ich k√∂nnt wetten, dass da...",0
4,4,10154832868940976,"Wir haben jetzt schon verloren, denn keiner ha...",1

In [6]:
#Drop unwanted columns.
df.drop(["Unnamed: 0"], axis=1, inplace=True)
df.drop(["impoliteness"], axis=1, inplace=True)

In [7]:
#Drop N.A. (in all rows)
df.dropna(inplace=True)

In [8]:
len(df)

20518

In [9]:
df.head()

          Comment_ID                                            message
0  10155742247640680  Diese Merkel nimmt europaweit sowieso keiner m...
1  10155315808149652  Kann mich nicht entscheiden, soll ich mir eine...
2  10156183865384869  Hier sieht man: Auch Moslems sind Opfer des Is...
3  10155827645654869  "Hass f√ºr niemanden" Ich k√∂nnt wetten, dass da...
4  10154832868940976  Wir haben jetzt schon verloren, denn keiner ha...

In [10]:
#Make a sample of n comments (here n=100):
df_sample100 = df.sample(n=100)

In [11]:
df_sample100.head(10)

,Comment_ID,message
8786,10156047536785680,"Julia Anders je √§rmer, je ungebildeter die Men..."
3612,10155932422514407,Naja weil der IS kein Staat ist. Auch wenn sie...
20166,10156140001128115_10156140362893115,"Ja, jedes Jahr am 32. Oktober ist Heilige Dunja üòâ"
989,10156427656528115,Migration aus Japan ist fast durchweg positiv....
18204,1707012976012279_1707264059320504,Die Umst√§nde im Vorfeld sollten eruiert werden!
19579,10156118686149869_10156119038809869,"J√ºrgen van den Heuvel, da haben Sie recht, an ..."
7620,10155105232657554,Angst vor dem Lesen? ;-)
1868,10155864640630680,#ichbinhier Ich freue mich das etliche Mensche...
15397,10155810772690680,Sascha Lipsius Die ANTIFA und der schwarze Blo...
1577,10155984942639869,Es f√§ngt vielleicht mit den kleinsten Gruppen ...

In [12]:



def Textfiles_from_df(df_ID_message):
    for index, row in df_ID_message.iterrows():
    #write a text file.
        #Define file name - should be the comment-ID:
        filename = str(row["Comment_ID"])
      
        
        #Define file content - should be the comment message:
        text_to_be_written = str(row["message"])
        
        file_object  = open(filename+".txt", "w")
        file_object.write(str(text_to_be_written))
        #close file, don't forget!
        file_object.close()

In [13]:
Textfiles_for_Annotations(df_sample100) #Creates 100 (or whatever your n is) text files in your directory.

# DONE, YEAH <3

This function can also be imported from the modul named

In [17]:
import annotation_helper

In [18]:
from annotation_helper import Textfiles_from_df